opencv_python==4.4.0.46
Flask==1.0.2
imutils==0.5.3
requests==2.22.0
numpy==1.19.3
beautifulsoup4==4.9.3
keras==2.4.3
scikit_learn==0.24.0
tensorflow==2.5.1
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
click==7.1.2
